[submodule "extern/flatbuffers"]
	path = extern/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "extern/MIRACL"]
	path = extern/MIRACL
	# url = https://github.com/lenerd/MIRACL.git
	url = https://github.com/miracl/MIRACL.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/cryptopp"]
	path = extern/cryptopp
	url = https://github.com/weidai11/cryptopp.git
	ignore = dirty
[submodule "extern/Beast"]
	path = extern/Beast
	url = https://github.com/vinniefalco/Beast.git
[submodule "extern/OTExtension"]
	path = extern/OTExtension
	url = https://github.com/encryptogroup/OTExtension.git
	ignore = dirty
[submodule "extern/ABY"]
	path = extern/ABY
	url = https://github.com/encryptogroup/ABY.git
	ignore = dirty
[submodule "extern/cryptopp-cmake"]
	path = extern/cryptopp-cmake
	url = https://github.com/noloader/cryptopp-cmake.git
